src/test/resources/org/springframework/ws/soap1_1/axis1/EchoEndpointWrappedEncoded.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://dispatch2.axis1.ws.springframework.org/" xmlns:apachesoap="http://xml.apache.org/xml-soap"
	xmlns:impl="http://dispatch2.axis1.ws.springframework.org/" xmlns:intf="http://dispatch2.axis1.ws.springframework.org/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:tns1="http://dispatch2.axis1.ws.springframework.org/p1/" xmlns:tns2="http://dispatch2.axis1.ws.springframework.org/p2/" xmlns:tns3="http://dispatch2.axis1.ws.springframework.org/p3/"
	xmlns:tns4="http://dispatch2.axis1.ws.springframework.org/r1/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
	<wsdl:types>
		<schema elementFormDefault="qualified" targetNamespace="http://dispatch2.axis1.ws.springframework.org/" xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://dispatch2.axis1.ws.springframework.org/r1/" />
			<import namespace="http://dispatch2.axis1.ws.springframework.org/p1/" />
			<import namespace="http://dispatch2.axis1.ws.springframework.org/p3/" />
			<import namespace="http://dispatch2.axis1.ws.springframework.org/p2/" />
			<element name="wrappedEnc">
				<complexType>
					<sequence>
						<element name="param1" type="tns1:param-1" />
						<element name="param2" type="tns2:param-2" />
					</sequence>
				</complexType>
			</element>
			<complexType name="ArrayOf_soapenc_byte">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="soapenc:byte[]" />
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOf_soapenc_string">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="soapenc:string[]" />
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="ArrayOf_tns3_param-3">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns3:param-3[]" />
					</restriction>
				</complexContent>
			</complexType>
			<element name="wrappedEncResponse">
				<complexType>
					<sequence>
						<element name="wrappedEncReturn" type="tns4:result-1" />
					</sequence>
				</complexType>
			</element>
			<complexType name="ArrayOf_soapenc_decimal">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="soapenc:decimal[]" />
					</restriction>
				</complexContent>
			</complexType>
		</schema>
		<schema elementFormDefault="qualified" targetNamespace="http://dispatch2.axis1.ws.springframework.org/p3/" xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://dispatch2.axis1.ws.springframework.org/" />
			<import namespace="http://dispatch2.axis1.ws.springframework.org/r1/" />
			<import namespace="http://dispatch2.axis1.ws.springframework.org/p1/" />
			<import namespace="http://dispatch2.axis1.ws.springframework.org/p2/" />
			<complexType name="param-3">
				<sequence>
					<element name="value" nillable="true" type="soapenc:string" />
				</sequence>
			</complexType>
		</schema>
		<schema elementFormDefault="qualified" targetNamespace="http://dispatch2.axis1.ws.springframework.org/p2/" xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://dispatch2.axis1.ws.springframework.org/" />
			<import namespace="http://dispatch2.axis1.ws.springframework.org/r1/" />
			<import namespace="http://dispatch2.axis1.ws.springframework.org/p1/" />
			<import namespace="http://dispatch2.axis1.ws.springframework.org/p3/" />
			<complexType name="param-2">
				<sequence>
					<element name="bd" nillable="true" type="soapenc:decimal" />
					<element name="list" nillable="true" type="impl:ArrayOf_soapenc_string" />
					<element name="number" nillable="true" type="soapenc:int" />
					<element name="param3list" nillable="true" type="impl:ArrayOf_tns3_param-3" />
				</sequence>
			</complexType>
		</schema>
		<schema elementFormDefault="qualified" targetNamespace="http://dispatch2.axis1.ws.springframework.org/p1/" xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://dispatch2.axis1.ws.springframework.org/" />
			<import namespace="http://dispatch2.axis1.ws.springframework.org/r1/" />
			<import namespace="http://dispatch2.axis1.ws.springframework.org/p3/" />
			<import namespace="http://dispatch2.axis1.ws.springframework.org/p2/" />
			<complexType name="param-1">
				<sequence>
					<element name="list" nillable="true" type="impl:ArrayOf_soapenc_byte" />
					<element name="number" nillable="true" type="soapenc:long" />
					<element name="param2" nillable="true" type="tns2:param-2" />
					<element name="param3list" nillable="true" type="impl:ArrayOf_tns3_param-3" />
					<element name="string" nillable="true" type="soapenc:string" />
				</sequence>
			</complexType>
		</schema>
		<schema elementFormDefault="qualified" targetNamespace="http://dispatch2.axis1.ws.springframework.org/r1/" xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://dispatch2.axis1.ws.springframework.org/" />
			<import namespace="http://dispatch2.axis1.ws.springframework.org/p1/" />
			<import namespace="http://dispatch2.axis1.ws.springframework.org/p3/" />
			<import namespace="http://dispatch2.axis1.ws.springframework.org/p2/" />
			<complexType name="result-1">
				<sequence>
					<element name="list" nillable="true" type="impl:ArrayOf_soapenc_decimal" />
					<element name="param2" nillable="true" type="tns2:param-2" />
					<element name="str" nillable="true" type="soapenc:string" />
				</sequence>
			</complexType>
		</schema>
	</wsdl:types>
	<wsdl:message name="wrappedEncResponse">
		<wsdl:part element="impl:wrappedEncResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="wrappedEncRequest">
		<wsdl:part element="impl:wrappedEnc" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="EchoEndpointWrapped">
		<wsdl:operation name="wrappedEnc">
			<wsdl:input message="impl:wrappedEncRequest" name="wrappedEncRequest">
			</wsdl:input>
			<wsdl:output message="impl:wrappedEncResponse" name="wrappedEncResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="EchoEndpointWrappedEncodedSoapBinding" type="impl:EchoEndpointWrapped">
		<wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="wrappedEnc">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="wrappedEncRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" />
			</wsdl:input>
			<wsdl:output name="wrappedEncResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="EchoEndpointWrappedService">
		<wsdl:port binding="impl:EchoEndpointWrappedEncodedSoapBinding" name="EchoEndpointWrappedEncoded">
			<wsdlsoap:address location="http://localhost:42259/axis1/EchoEndpointWrappedEncoded" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
