jws/src/test/resources/org/springframework/ws/axis1/case1/codefirst/document_literal/myservice-1.2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://codefirst.case1.axis1.ws.springframework.org" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://codefirst.case1.axis1.ws.springframework.org" xmlns:intf="http://codefirst.case1.axis1.ws.springframework.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://codefirst.case1.axis1.ws.springframework.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="param1" type="xsd:string"/>
   <element name="oneParamReturn" type="xsd:string"/>
   <element name="param2" type="xsd:string"/>
   <element name="param3" type="xsd:string"/>
   <element name="twoParamsReturn" type="xsd:string"/>
  </schema>
 </wsdl:types>

   <wsdl:message name="twoParamsRequest">

      <wsdl:part element="impl:param2" name="param1">

      </wsdl:part>

      <wsdl:part element="impl:param3" name="param2">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="oneParamRequest">

      <wsdl:part element="impl:param1" name="param1">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="oneParamResponse">

      <wsdl:part element="impl:oneParamReturn" name="oneParamReturn">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="twoParamsResponse">

      <wsdl:part element="impl:twoParamsReturn" name="twoParamsReturn">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="EchoEndpoint">

      <wsdl:operation name="oneParam" parameterOrder="param1">

         <wsdl:input message="impl:oneParamRequest" name="oneParamRequest">

       </wsdl:input>

         <wsdl:output message="impl:oneParamResponse" name="oneParamResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="twoParams" parameterOrder="param1 param2">

         <wsdl:input message="impl:twoParamsRequest" name="twoParamsRequest">

       </wsdl:input>

         <wsdl:output message="impl:twoParamsResponse" name="twoParamsResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="EchoEndpointDocumentLiteral12SoapBinding" type="impl:EchoEndpoint">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="oneParam">

         <wsdlsoap:operation soapAction="oneParam"/>

         <wsdl:input name="oneParamRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="oneParamResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="twoParams">

         <wsdlsoap:operation soapAction="twoParams"/>

         <wsdl:input name="twoParamsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="twoParamsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="EchoEndpointService">

      <wsdl:port binding="impl:EchoEndpointDocumentLiteral12SoapBinding" name="EchoEndpointDocumentLiteral12">

         <wsdlsoap:address location="http://axis1.org/ws/services/EchoEndpointDocumentLiteral12"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
