src/test/resources/org/springframework/ws/axis1/case2/codefirst/rpc_encoded/myservice-1.2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://codefirst.case2.axis1.ws.springframework.org" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://codefirst.case2.axis1.ws.springframework.org" xmlns:intf="http://codefirst.case2.axis1.ws.springframework.org" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema targetNamespace="http://codefirst.case2.axis1.ws.springframework.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_soapenc_byte">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="soapenc:byte[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_soapenc_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="soapenc:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_xsd_anyType">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:anyType[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="Param3">
    <sequence>
     <element name="lvalue" nillable="true" type="soapenc:long"/>
     <element name="svalue" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOfParam3">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="impl:Param3[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="Param2">
    <sequence>
     <element name="bd" nillable="true" type="soapenc:decimal"/>
     <element name="list" nillable="true" type="impl:ArrayOf_soapenc_string"/>
     <element name="number" nillable="true" type="soapenc:int"/>
     <element name="param3List" nillable="true" type="impl:ArrayOf_xsd_anyType"/>
     <element name="param3Tab" nillable="true" type="impl:ArrayOfParam3"/>
    </sequence>
   </complexType>
   <complexType name="Param1">
    <sequence>
     <element name="list" nillable="true" type="impl:ArrayOf_soapenc_byte"/>
     <element name="number" nillable="true" type="soapenc:long"/>
     <element name="param2" nillable="true" type="impl:Param2"/>
     <element name="param3list" nillable="true" type="impl:ArrayOfParam3"/>
     <element name="string" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOf_soapenc_decimal">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="soapenc:decimal[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="Result1">
    <sequence>
     <element name="list" nillable="true" type="impl:ArrayOf_soapenc_decimal"/>
     <element name="param2" nillable="true" type="impl:Param2"/>
     <element name="str" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="http://xml.apache.org/xml-soap" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://codefirst.case2.axis1.ws.springframework.org"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="Vector">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="echoRequest">

      <wsdl:part name="param" type="impl:Param1">

      </wsdl:part>

      <wsdl:part name="param2" type="impl:Param2">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="echoResponse">

      <wsdl:part name="echoReturn" type="impl:Result1">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="EchoEndpoint">

      <wsdl:operation name="echo" parameterOrder="param param2">

         <wsdl:input message="impl:echoRequest" name="echoRequest">

       </wsdl:input>

         <wsdl:output message="impl:echoResponse" name="echoResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="EchoEndpointRpcEncoded12SoapBinding" type="impl:EchoEndpoint">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="echo">

         <wsdlsoap:operation soapAction="echo"/>

         <wsdl:input name="echoRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://codefirst.case2.axis1.ws.springframework.org" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="echoResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://codefirst.case2.axis1.ws.springframework.org" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="EchoEndpointService">

      <wsdl:port binding="impl:EchoEndpointRpcEncoded12SoapBinding" name="EchoEndpointRpcEncoded12">

         <wsdlsoap:address location="http://axis1.org/ws/services/EchoEndpointRpcEncoded12"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
