jws/src/test/resources/org/javelin/sws/ext/ws/axis1/case2/codefirst/wrapped_literal/myservice-1.2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://codefirst.case2.axis1.ws.springframework.org" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://codefirst.case2.axis1.ws.springframework.org" xmlns:intf="http://codefirst.case2.axis1.ws.springframework.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://codefirst.case2.axis1.ws.springframework.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="echo">
    <complexType>
     <sequence>
      <element name="param" type="impl:Param1"/>
      <element name="param2" type="impl:Param2"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_byte">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:byte"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOf_xsd_string">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Param3">
    <sequence>
     <element name="lvalue" nillable="true" type="xsd:long"/>
     <element name="svalue" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOfParam3">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="impl:Param3"/>
    </sequence>
   </complexType>
   <complexType name="Param2">
    <sequence>
     <element name="bd" nillable="true" type="xsd:decimal"/>
     <element name="list" nillable="true" type="impl:ArrayOf_xsd_string"/>
     <element name="number" nillable="true" type="xsd:int"/>
     <element name="param3Tab" nillable="true" type="impl:ArrayOfParam3"/>
    </sequence>
   </complexType>
   <complexType name="Param1">
    <sequence>
     <element name="list" nillable="true" type="impl:ArrayOf_xsd_byte"/>
     <element name="number" nillable="true" type="xsd:long"/>
     <element name="param2" nillable="true" type="impl:Param2"/>
     <element name="param3list" nillable="true" type="impl:ArrayOfParam3"/>
     <element name="string" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="echoResponse">
    <complexType>
     <sequence>
      <element name="echoReturn" type="impl:Result1"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_decimal">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:decimal"/>
    </sequence>
   </complexType>
   <complexType name="Result1">
    <sequence>
     <element name="list" nillable="true" type="impl:ArrayOf_xsd_decimal"/>
     <element name="param2" nillable="true" type="impl:Param2"/>
     <element name="str" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="echoRequest">

      <wsdl:part element="impl:echo" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="echoResponse">

      <wsdl:part element="impl:echoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="EchoEndpoint">

      <wsdl:operation name="echo">

         <wsdl:input message="impl:echoRequest" name="echoRequest">

       </wsdl:input>

         <wsdl:output message="impl:echoResponse" name="echoResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="EchoEndpointWrappedLiteral12SoapBinding" type="impl:EchoEndpoint">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="echo">

         <wsdlsoap:operation soapAction="echo"/>

         <wsdl:input name="echoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="echoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="EchoEndpointService">

      <wsdl:port binding="impl:EchoEndpointWrappedLiteral12SoapBinding" name="EchoEndpointWrappedLiteral12">

         <wsdlsoap:address location="http://axis1.org/ws/services/EchoEndpointWrappedLiteral12"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
