net/AsmxWebServices/Web References/Axis1Case1WrappedLiteral12/myservice-1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:intf="http://codefirst.case1.axis1.ws.springframework.org" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://codefirst.case1.axis1.ws.springframework.org" targetNamespace="http://codefirst.case1.axis1.ws.springframework.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://codefirst.case1.axis1.ws.springframework.org">
      <xsd:element name="oneParam">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="param1" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="oneParamResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="oneParamReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="twoParams">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="param1" type="xsd:string" />
            <xsd:element name="param2" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="twoParamsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="twoParamsReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="twoParamsRequest">
    <wsdl:part name="parameters" element="impl:twoParams" />
  </wsdl:message>
  <wsdl:message name="oneParamRequest">
    <wsdl:part name="parameters" element="impl:oneParam" />
  </wsdl:message>
  <wsdl:message name="oneParamResponse">
    <wsdl:part name="parameters" element="impl:oneParamResponse" />
  </wsdl:message>
  <wsdl:message name="twoParamsResponse">
    <wsdl:part name="parameters" element="impl:twoParamsResponse" />
  </wsdl:message>
  <wsdl:portType name="EchoEndpoint">
    <wsdl:operation name="oneParam">
      <wsdl:input name="oneParamRequest" message="impl:oneParamRequest" />
      <wsdl:output name="oneParamResponse" message="impl:oneParamResponse" />
    </wsdl:operation>
    <wsdl:operation name="twoParams">
      <wsdl:input name="twoParamsRequest" message="impl:twoParamsRequest" />
      <wsdl:output name="twoParamsResponse" message="impl:twoParamsResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EchoEndpointWrappedLiteral12SoapBinding" type="impl:EchoEndpoint">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="oneParam">
      <wsdlsoap:operation soapAction="oneParam" />
      <wsdl:input name="oneParamRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="oneParamResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="twoParams">
      <wsdlsoap:operation soapAction="twoParams" />
      <wsdl:input name="twoParamsRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="twoParamsResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EchoEndpointService">
    <wsdl:port name="EchoEndpointWrappedLiteral12" binding="impl:EchoEndpointWrappedLiteral12SoapBinding">
      <wsdlsoap:address location="http://axis1.org/ws/services/EchoEndpointWrappedLiteral12" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>