net/AsmxWebServices/Web References/Axis1Case2WrappedLiteral12/myservice-1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:intf="http://codefirst.case2.axis1.ws.springframework.org" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://codefirst.case2.axis1.ws.springframework.org" targetNamespace="http://codefirst.case2.axis1.ws.springframework.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://codefirst.case2.axis1.ws.springframework.org">
      <xsd:element name="echo">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="param" type="impl:Param1" />
            <xsd:element name="param2" type="impl:Param2" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ArrayOf_xsd_byte">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="xsd:byte" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOf_xsd_string">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Param3">
        <xsd:sequence>
          <xsd:element name="lvalue" nillable="true" type="xsd:long" />
          <xsd:element name="svalue" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfParam3">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="impl:Param3" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Param2">
        <xsd:sequence>
          <xsd:element name="bd" nillable="true" type="xsd:decimal" />
          <xsd:element name="list" nillable="true" type="impl:ArrayOf_xsd_string" />
          <xsd:element name="number" nillable="true" type="xsd:int" />
          <xsd:element name="param3Tab" nillable="true" type="impl:ArrayOfParam3" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Param1">
        <xsd:sequence>
          <xsd:element name="list" nillable="true" type="impl:ArrayOf_xsd_byte" />
          <xsd:element name="number" nillable="true" type="xsd:long" />
          <xsd:element name="param2" nillable="true" type="impl:Param2" />
          <xsd:element name="param3list" nillable="true" type="impl:ArrayOfParam3" />
          <xsd:element name="string" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="echoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="echoReturn" type="impl:Result1" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ArrayOf_xsd_decimal">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="xsd:decimal" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Result1">
        <xsd:sequence>
          <xsd:element name="list" nillable="true" type="impl:ArrayOf_xsd_decimal" />
          <xsd:element name="param2" nillable="true" type="impl:Param2" />
          <xsd:element name="str" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="echoRequest">
    <wsdl:part name="parameters" element="impl:echo" />
  </wsdl:message>
  <wsdl:message name="echoResponse">
    <wsdl:part name="parameters" element="impl:echoResponse" />
  </wsdl:message>
  <wsdl:portType name="EchoEndpoint">
    <wsdl:operation name="echo">
      <wsdl:input name="echoRequest" message="impl:echoRequest" />
      <wsdl:output name="echoResponse" message="impl:echoResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EchoEndpointWrappedLiteral12SoapBinding" type="impl:EchoEndpoint">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="echo">
      <wsdlsoap:operation soapAction="echo" />
      <wsdl:input name="echoRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="echoResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EchoEndpointService">
    <wsdl:port name="EchoEndpointWrappedLiteral12" binding="impl:EchoEndpointWrappedLiteral12SoapBinding">
      <wsdlsoap:address location="http://axis1.org/ws/services/EchoEndpointWrappedLiteral12" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>